@model Person
@{
    ViewData["Titlephrase"]=@Model.FirstName;
}
<h2>Are you sure to delete the following?</h2>
<ul class="list-group">
<li class="list-group-item">First Name: @Model.FirstName</li>
<li class="list-group-item">Last Name: @Model.SurName</li>
<li class="list-group-item">Address: @Model.Address</li>
<li class="list-group-item">Gender: @Model.Gender</li>
<li class="list-group-item">Saalary: @Model.Salary</li>
</ul>
 <input type="hidden" asp-for="Id">
<form asp-controller="Employee" asp-action="Delete" method="POST">
 <input type="hidden" asp-for="Id"/>
  <button class="btn btn-danger">Delete Anyway</button>  
</form>
  